/* 
  CSS modules are only used for component styling. 
  To use global CSS, change the code in global.css
*/

.container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 14rem;
  height: 14rem;
}

.navBar {
  display: flex;
  flex: 1;
  flex-flow: wrap row;
  justify-content: space-between;
  margin: 1.5rem auto;
}
.navItem {
  margin: 2px 25px;
  padding: 5px;
  border-bottom: solid #8bf 1px;
}

.backToHome {
  margin: 3rem 0 0;
}

.post {
  padding: 1.1em 2em;
  border: solid #cfcfcf 2px;
  background-color: none;
}

.footer {
  border-top: solid #a5a5a5 2px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer section {
  max-width: 75%;
  display: flex;
  flex-direction: row;
}

.footer img {
  margin: 5px auto;
  max-width: 20%;
  min-width: 15%;
}
