
/* 
  CSS modules are only used for component styling. 
  To use global CSS, change the code in global.css
*/

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 12rem;
  height: 12rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.post{
  padding: 1.1em 2em;
  border: solid #cfcfcf 2px;
  background-color: none;
}

.footer {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.7em auto;
}

.footer img {
  margin-left: 0.5rem;
  max-width: 20%;
}

.footer div {
  display: flex;
  flex-direction: row;
  margin: 1.1em auto;
}

.footer div a{
  margin: auto;
  padding: 0 20px;
  text-decoration: none;
  color: #15c;
}
.footer div a:hover{
  color: #8BF;
}